certifi==2021.5.30
charset-normalizer==2.0.6
click==8.0.1
colorama==0.4.4
Flask==2.0.2
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.2
joblib==1.1.0
MarkupSafe==2.0.1
nltk==3.6.3
regex==2021.9.30
requests==2.26.0
tqdm==4.62.3
urllib3==1.26.7
Werkzeug==2.0.2
