.back
{
    background-color:aliceblue;
}
.f1
{
    font-family: Verdana, Geneva, Tahoma, sans-serif
    
}
.small
{
    font-size: 10px
}
#display
{
    width: 100%;
    height:300px;
    border: 1px solid red;
}
.bout
{   position: relative;
}
.column
{
    
}
.big
{
    font-size: 20px
}
.right
{
    background-color:lightcyan;
}
.navbar
{
    background-color: white;
    margin: 0;  
}

.line
{
    style="width:100% height: 10px;"
}
.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }





