.back{
    background-color:aliceblue;
}
.f1{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.small{
    font-size: 12px
}
#display{
    width: 100%;
    height:300px;
    
}
.bout{   position: relative;
}
.big{
    font-size: 20px
}
.right{
    background-color:lightcyan;
}
.navbar{
    background-color: white;
    margin: 0;  
}
table, th, td{
    border: 1px solid black;
  }
  th
  {
      background-color: #70C8FC ;
  }
  tr:nth-child(even)
  { background-color: #E0ECFA;}
  tr:nth-child(odd)
  { background-color: #E1FFFF;}
  table{
      table-layout: fixed;
      width:100%
      
  }

.column{
    float: left;
    width: 100%;
  }





