/** random terrible formatting **/

.back{
    
    background-image: url("https://i.pinimg.com/564x/76/62/c1/7662c18b9b3ac3a32465dab90e562770.jpg");
    background-size: 100% 100%;
}
.marg{
    margin-left: 10px;
    margin-right: 10px;
}
.f1{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.small{
    font-size: 100%;
}
#display{
    width: 100%;
    height:300px;
    
}
.txtt{
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bout{   position: relative;
}
.big{
    font-size: 20px;
}
.right{
    background-color:gold;
}
.navbar{
    background-color: goldenrod;
    margin: 0;  
}
table, th, td{
    border: 1px solid black;
  }
  th
  {
      background-color: #70C8FC ;
  }
  tr:nth-child(even)
  { background-color: #E0ECFA;}
  tr:nth-child(odd)
  { background-color: #E1FFFF;}
  table{
      table-layout: fixed;
      width:100%
      
  }

.column{
    float: left;
    width: 100%;
  }





